name: 'Docker Test'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - 'master'
    paths-ignore:
      - '**.md'
  pull_request:


env:
  TEST_TAG: ttionya/fail2ban:test

jobs:
  test:
    name: Docker Test

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        iptables:
          - auto
          - nft
          - legacy

    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
      -
        name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      -
        name: Build test image
        uses: docker/bake-action@v6
        env:
          TEST_TAG: ${{ env.TEST_TAG }}
        with:
          targets: image-test
          load: true
      -
        name: Start
        run: |
          docker compose up -d
        working-directory: test
        env:
          FAIL2BAN_IMAGE: ${{ env.TEST_TAG }}
          IPTABLES_MODE: ${{ matrix.iptables }}
      -
        name: Check container logs
        uses: crazy-max/.github/.github/actions/container-logs-check@main
        with:
          container_name: fail2ban
          log_check: "Server ready"
          timeout: 120
      -
        name: Logs
        if: always()
        run: |
          docker compose logs
        working-directory: test
        env:
          FAIL2BAN_IMAGE: ${{ env.TEST_TAG }}
